* {
     margin: 0px;
     padding: 0px;
     box-sizing: border-box;
}
body {
     background-color: #6c757d;
}
/* calculator */
.App {
     background-color: #272640;
     width: 250px;
     height: fit-content;
     padding: 20px 0px;
     margin: 10% auto;
     border-radius: 10px;
     border: 3px solid white;
     display: grid;
     grid-template-columns: repeat(4, 1fr);
     gap: 5px;
}
/* display box */
.display-box {
     width: 100%;
     min-height: 50px;
     background-color: #643271;
     color: white;
     grid-column: 1/5;
     margin-bottom: 10px;
     padding: 30px 10px 10px 10px;
     font-size: 1.5em;
     border-radius: 3px;
     text-align: right;
     position: relative;
}
.current {
     word-wrap: break-word;
}
.last {
     position: absolute;
     top: 5px;
     right: 10px;
     font-size: 0.7em;
     color: #d4d4d4;
}
/* control buttons */
.control-buttons {
     grid-column: 1/4;
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     margin-left: 10px;
     gap: 5px;
}
/* numbers */
.numbers {
     grid-column: 1/4;
     grid-row: 3/5;
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     margin-left: 10px;
     gap: 5px;
}
.numbers button:nth-child(10) {
     grid-column: span 2;
}
/* operators */
.operators {
     grid-column: 4/5;
     grid-row: 2/5;
     display: grid;
     grid-template-columns: 1fr;
     margin-right: 10px;
     gap: 5px;
}
/* buttons */
.button {
     cursor: pointer;
     padding: 15px;
     background-color: #006466;
     color: white;
     border: 0px;
     border-radius: 5px;
     font-size: 1em;
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.button:hover {
     background-color: #4d194d;
}
